html, 
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#map-container {
  background-color: gray;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
}

#map {
  height: 100%;
}

#view {
  position: absolute;
  height: 100%;
  width: 100%;
}

.collapsible {
  background-color: gray;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.collapsible:hover {
  background-color: darkgray;
}

.collapsible:after {
  position: absolute;
  content: '\25BC'; /* Unicode (▼) */
  font-size: 13px;
  color: white;
  float: right;
  right: 20px;
}

.active:after {
  content: "\25B2"; /* Unicode (▲)*/
}

.invisible-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: 10px auto;
  width: 400px;
  z-index: 3;
}

.form-container {
  z-index: 5;
  background-color: lightgrey;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
}

.form-container input {
  width: 90%;
  height: 20px;
  margin: 4px 0px;
}

#timeline-container {
  opacity: 0;
}

#timeline-controls {
  display: none;
}

/* Animations */

@keyframes minimap {
  from {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
  }
  to {
    height: 40%;
    width: 20%;
    margin: 10px;
    padding: 4px;
    border: 2px solid;
    border-color: lightgray rgb(80, 80, 80) rgb(80, 80, 80) lightgray;
  }
}

.minimap {
  animation-fill-mode: forwards;
  animation-name: minimap;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation-fill-mode: forwards;
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}