<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Route Viewer</title>

  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/script.js"></script>
</head>

<body>
  <div class="vertical-container">
    <div id="top-bar">
      <button type="button", id="viewer_btn" class="collapsible active_menu">Route Viewer</button>
      <div id="viewer-container" class="form-container">
        <form>
          <div class="gap"></div>
          <div>
            <input id="start" type="text" placeholder="Enter Start Location">
            <button id="hidden_btn" button type="button">Go</button>
          </div>
          <div>
            <input id="end" type="text", placeholder="Enter Destination">
            <button id="calculate_btn" button type="button">Go</button>
          </div>
          <div class="gap" id="21"></div>
        </form>
      </div>
    </div>
    
    <div id="content">
      <button id="menu_btn" class="collapsible">M</button>
      <div id="menu_dropdown">
        <div class="dropdown_element horizontal_flex">
          <label>Automatic Camera</label> <button id="POV_toggle" class="toggle_btn">T</button>
        </div>
        <div class="dropdown_element horizontal_flex">
          <label>Center in map</label> <button id="center_toggle" class="toggle_btn">T</button>
        </div>
        <div class="dropdown_element vertical_flex">
          <div class="horizontal_flex">
            <label>Travel distance</label>
            <label id="distance_label" class="dropdown_setting">20m</label>
          </div>
          <input id="distance_slider" type="range" min="0" max="4" step="1">
        </div>
        <div class="dropdown_element vertical_flex">
          <div class="horizontal_flex">
            <label>Play interval</label>
            <label id="time_label" class="dropdown_setting">2s</label>
          </div>
          <input id="time_slider" type="range" min="0" max="2" step="1">
        </div>
      </div>

      <div id="map-container">
        <div id="map"></div>
      </div>
      <div id="input-blocker"></div>
      <div id="view"></div>
    </div>
    
    <div id="timeline-container">
      <button id="view_btn">View</button>
      <div id="timeline-controls">
        <button id="view_prev"><<</button>
        <button id="play_btn">Play</button>
        <button id="view_next">>></button>
      </div>
    </div>
  </div>
  
  <script defer src="<%= googleAPI %>"></script>
  <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
  <script src="https://code.createjs.com/1.0.0/tweenjs.min.js"></script>
</body>

</html>